/* RESET CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: "IBM Plex Serif", Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0,0,0,0.9);
  line-height: 1.33;
  background-color: #F5F2ED;
}

ul {
  list-style: disc;   
  padding-left: 24px;
  margin-bottom: 16px;
}

li {
    margin-bottom: 8px;
} 

h1, h2, h3, h4, h5, h6 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 16px;
}
.h1 {
  font-size: 32px;
  font-family: 'IBM Plex Serif', Georgia, serif;
  font-weight: 400;
}
.h2 {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 24px;
}

p {
  margin-bottom: 16px;
}
p:last-of-type {
  margin-bottom: 0;
}
.p-large {
  font-size: 20px;
  margin-bottom: 24px;
}
.p-small {
  font-size: 14px;
}

strong {
  font-weight: 600;
}

a { color: #014776; }
.px-16 { padding-left: 16px; padding-right: 16px; }
.px-32 { padding-left: 32px; padding-right: 32px; }
.py-16 { padding-top: 16px; padding-bottom: 16px; }
.py-32 { padding-top: 32px; padding-bottom: 32px; }

.bg-off-white { background-color: #F3F4F2; }
.bg-light-grey { background-color: #E2E3DE;}
.bg-mid-grey { background-color: #7e7e7e; }
.bg-blue { background-color: #014776; }
.bg-white { background-color: white; }
.shadow-md {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.text-white { color: white; }

.resource-media--stack {
  padding: 8px;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 16px;
}

.resource-media {
    display: flex;
    align-items: flex-start;
    padding: 8px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 16px;
}
.resource-media__link .resource-media:hover,
.resource-media__link .resource-media--stack:hover { background-color: rgba(0,0,0,0.25)}
.resource-media__link {
  text-decoration: none;
  color: rgba(0,0,0,0.9);
}
.resource-media__title { margin-bottom: 0; }
.resource-media__source {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
  line-height: 1;
}
.resource-media__image {
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  width: 104px;
  flex-shrink: 0;
  margin-right: 16px;
}
.resource-media__image--stack {
  margin-bottom: 16px;
  max-height: 60px;
  max-width: 240px;
}
.resource-media__video-preview::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-image: url('/images/icons/play-icon.svg'), linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,.65));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px, 100%;
}
.resource-media__video-preview {
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  width: 104px;
  flex-shrink: 0;
  margin-right: 16px;
  height: 72px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.text-decoration-none { text-decoration: none; }

.site-header {
  text-align: center;
  padding: 32px;
}
.site-logo {
  height: 40px;
}
.site-logo > img { height: 100%; }

.navigation-bar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 0 32px; 
  font-size: 16px;
  margin-left: -8px;
}
.navigation-bar__list-item {
  margin-bottom: 0;
  margin-right: 8px;
}
.navigation-bar__list-item a {
  color: rgba(0,0,0,0.65);
  padding: 8px;
  text-decoration: none;
  display: block;
}
.navigation-bar__list-item a:hover {
  text-decoration: underline;
  background-color: rgba(0,0,0,0.1);
}

.breadcrumb-bar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 8px 32px; 
  font-size: 14px;
}

.breadcrumb-bar__list-item {
  margin-bottom: 0;
}
.breadcrumb-bar__list-item a {
  color: rgba(0,0,0,0.65);
  text-decoration: none;
}
.breadcrumb-bar__list-item a:hover {
  color: rgba(0,0,0,0.65);
  text-decoration: underline;
}
.breadcrumb-bar__list-item::after {
  content: '/';
  color: rgba(0,0,0,0.4);
  padding: 0 4px;
}
.breadcrumb-bar__list-item:last-child::after {
  display: none;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.partial-width {
  max-width: 680px;
  margin: 0 auto;
}

.full-width {
  max-width: 992px;
  margin: 0 auto;
}

.header {
  display: flex;
  margin-bottom: 32px;
  align-items: flex-end;
  background-color: #5B5853;
}

.header__image {
  max-width: 120px;
}

.header__text {
  padding: 16px;
}
.header__label {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-size: 16px;
  color: rgba(255,255,255,1);
  font-weight: 400;
  line-height: 1; 
}
.header__title {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

@media (min-width: 768px) {
  .header__image {
    max-width: 192px;
  }
  .header__title {
    font-size: 32px;
  }
}
.article-body {
  margin-bottom: 48px;
}
.article-body h2 {
  font-size: 24px;
  padding-top: 32px;
  margin-bottom: 24px;
}
.article-body h3 { 
  font-size: 16px;
  padding-top: 16px;
}

.graph-image {
  background-color: #E2E3DE;
  margin-bottom: 32px;
  margin-top: 32px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.image-row {
  display: flex;
}
.image-row__wrapper {
  margin-bottom: 32px;
}
.image-row__image {
  margin-right: 8px;
  flex-shrink: none;
  flex-grow: 1;
}
.image-row__image:last-child {
  margin-right: 0;
}
.image-row__image-caption {
  font-family: "IBM Plex Sans", sans-serif;
  color: rgba(0,0,0,0.65);
  font-size: 14px;
}
.graph-image > img { flex-shrink: 0; }
.graph-image__image-caption {
  flex-basis: 280px;
  padding: 12px;
}

.video-description {
  padding-top: 32px;
  margin-bottom: 32px;
}
.video-description__title {
  margin-bottom: 0;
}
.video-description__length {
  font-size: 14px;
  color: rgba(0,0,0,0.65);
  font-weight: 400;
}

.responsive-video {
  position: relative;
  height: 1px;
  padding-bottom: 56.25%;
}

.responsive-video iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.prototype-embed {
  border: none;
  outline: none;
  width: 100%;
  height: 880px;
}

.flex-grow {
  flex-grow: 1;
}

@media (min-width: 768px) {
  .md-2-col {
    display: flex;
    width: 100%;
  }
}

.about-logos {
  display: flex;
  height: 40px;
  margin-top: 24px;
}
.about-logos__logo {
  height: 100%;
  width: auto;
  margin-right: 16px;
}

.link-tile__link {
  display: block;
  height: 1px;
  position: relative;
  padding-bottom: 100%;
  text-decoration: none;
}
.link-tile {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #eeeeee;
  border: 1px solid white;
  display: flex;
  align-items: flex-end;
  padding: 32px;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-links {
  padding: 64px 48px;
  background-color: rgba(63,47,21,.05)
}
.section-link {
  padding: 16px;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 48px;
  display: block;
  text-decoration: none;
  text-align: center;
  position: relative;
}

.section-link__label {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 20px;
  color: rgba(0,0,0,.65);
  font-weight: 400;
  line-height: 1; 
}
.section-link__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  line-height: 1;
  font-size: 24px;
  color: rgba(0,0,0,.9);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}
.section-link__description {
  color: rgba(0,0,0,0.9);
}
.section-link__image {
  width: 300px;
  flex-shrink: 0;
}
.section-link__text-block {
  padding-top: 32px;
}
.section-link__link-text {
  color: #014776;
}
.section-link:hover { background-color: rgba(0,0,0,0.25) }
.section-link:hover .section-link__link-text { text-decoration: underline; }

@media (min-width: 768px) {
  .section-link {
    display: flex;
    text-align: left;
    align-items: flex-start;
  }
  .section-link__image {
    margin-right: 32px;
  }
}

.content-wrapper {
  padding: 32px 0;
}
.content-block {
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 16px;
}
.content-block:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .content-wrapper {
    display: flex;
  }
  .two-col {
    width: 50%;
    margin-bottom: 0;
  }
  .three-col {
    width: calc(100%/3);
    margin-bottom: 0;
  }
  .two-of-three-col {
    width: calc(100%/3 *2);
    margin-bottom: 0;
  }
}

.copyright-text {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 12px;
  color: rgba(0,0,0,0.65);
  font-weight: 400;
  margin-bottom: 0;
}
.copyright-text a {
  color: rgba(0,0,0,0.65);
}

.homepage-hero img {
  width: 100%;
}
