---
layout: default
meta-title: Guidance tool | Selecting lime mortar, based on exposure, date and masonry | uselimemortar.com
title: Guidance tool for selecting lime mortar
header-image: /images/type-of-masonry.jpg
permalink: /guidance-tool/
next-step:
  source: Next step
  title: Learn to work with lime in our workmanship video series
  image: workmanship.jpg
  href: /workmanship/
---

{% include page-header.html
  content-type="Guidance tool"
  title="Choose your materials"
  header-image=page.header-image 
  header-image-description=page.header-image-description
%}

<div class="full-width px-16">
  <section class="md-2-col">
    <div class="two-col flex-grow px-16">
      <p class="p-large">This guidance tool is prototype of a mobile app, designed to help you identify the right materials for the site you are working on.</p>
      <p class="p-large">If you are on a mobile device, you can <a href="https://www.figma.com/proto/2QrDQmdTGhwmeO2zcqeyzS/Use-Lime-Mortar?node-id=323%3A1897&viewport=-1534%2C4229%2C0.7858197689056396&scaling=scale-down">view the prototype full-size on Figma</a> (the website used to create the prototype).</p>
      <p class="p-large">If you are on a computer or tablet, the prototype will load in this window. It takes a few seconds to load.</p>
    </div>
    <div class="two-col flex-grow">
      <iframe class="prototype-embed" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F2QrDQmdTGhwmeO2zcqeyzS%2FUse-Lime-Mortar%3Fnode-id%3D323%253A1897%26viewport%3D123%252C1317%252C0.2075473517179489%26scaling%3Dmin-zoom" allowfullscreen></iframe>
    </div>
  </section>
</div>

{% if page.next-step %}
  <div class="bg-light-grey">
    <div class="partial-width px-16 py-16">
      {% include resource-media.html resource=page.next-step %}
    </div>
  </div>
{% endif %}
