---
layout: default
title: Workmanship
permalink: /workmanship/
---

<div class="full-width px-16 py-16">
  <h2>How to repoint mortar</h2>
  <p>Four short videos demonstrating how to mix materials and repoint with lime mortar.</p>
  {% for workmanship-video in site.workmanship-videos %}
    {% include resource-media__video.html
      title=workmanship-video.title
      sub-heading="Video"
      href=workmanship-video.url
      preview-image-url=workmanship-video.preview-image-url
    %}
  {% endfor %}
</div>
