---
layout: default
---

{% include page-header.html
  content-type="Article"
  title=page.title
  header-image=page.header-image 
  header-image-description=page.header-image-description
%}

<div class="px-16 partial-width">
  <article class="article-body">
    {{ content }}
  </article>
</div>

{% if page.resources %}
  <div class="bg-off-white">
    <div class="partial-width px-16 py-16">
      <h2>More information</h2>
      {% for resource in page.resources %}
          {% include resource-media.html resource=resource %}
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if page.next-step %}
  <div class="partial-width px-16 py-16">
    {% include resource-media.html resource=page.next-step %}
  </div>
{% endif %}
