<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.meta-title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600|IBM+Plex+Serif:400,600,700&display=swap" rel="stylesheet">
    <script src="//s3-us-west-2.amazonaws.com/momently-static/loader/DVUfMAAuARQ_momently.js" name="momently-script"></script>
  </head>
  <body>
    <div class="full-width shadow-md bg-white">
      {% include site-header.html %}
      <!-- {% include navigation-bar.html %} -->

      {% unless page.title == 'Home' %}
        {% include breadcrumb-bar.html breadcrumb-links=page.breadcrumb-links page-title=page.title %}
      {% endunless %}

      {{ content }}
    </div>

    {% include site-footer.html %}
    
  </body>
</html>
