<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700|IBM+Plex+Serif:400,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
        <a href="/">Header: Lime Mortar App</a>
        <nav>
          <a href="/">Home</a>
          <a href="/about/">About</a>
        </nav>
        <hr />
    </header>
    
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>

  </body>
</html>