---
layout: default
---

<iframe width="100%" height="315" src="https://www.youtube.com/embed/{{ page.video-id }}?modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<section class="px-16 partial-width">
  <h3>{{ page.title }}</h3>
  <p>{{ page.video-length }}</p>
  {{ content }}
</section>

{% if page.resources %}
  <div class="bg-off-white">
    <div class="partial-width px-16 py-16">
      <h2>More information</h2>
      {% for resource in page.resources %}
          {% include resource-media.html resource=resource%}
      {% endfor %}
    </div>
  </div>
{% endif %}

<div class="partial-width px-16 py-16">
  <h2>All videos</h2>
  {% for workmanship-video in site.workmanship-videos %}
    {% if page.title == workmanship-video.title %}
      {% include resource-media__video.html
        is-current=true
        title=workmanship-video.title
        sub-heading="Now playing"
        href=workmanship-video.url
        preview-image-url=workmanship-video.preview-image-url
      %}
    {% else %}
      {% include resource-media__video.html
        title=workmanship-video.title
        sub-heading="Video"
        href=workmanship-video.url
        preview-image-url=workmanship-video.preview-image-url
      %}
    {% endif %}
  {% endfor %}
</div>
