---
layout: default
---

<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.videoId }}?modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>{{ page.title }}</h3>
<p>{{ page.videoLength }}</p>
<p>{{ page.description }}</p>
{{ content }}


<h2>All videos</h2>

{% for workmanship_video in site.workmanship_videos %}
    <a href="{{ workmanship_video.url }}">
        <h3>{{ workmanship_video.title }}</h3>
        <p>{{ workmanship_video.description }}</p>
    </a>
{% endfor %}
